
<div id="mybutton">
<a class="plus" href="/new"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
  <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
</svg></a>
</div>	

	<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>

    <!-- <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script> -->
	<script src="/js/summernote-bs4.js"></script>

    <script>
		$(function () {
  $(document).scroll(function () {
    var $nav = $(".navstyle");
    $nav.toggleClass('navbar-reduce', $(this).scrollTop() > $nav.height());
 	 });
		});
	</script>
   

	<script>
		  if ($('.text-slider').length == 1) {
    var content  = $('.text-slider-items').text();
    var typed = new Typed('.text-slider', {
      strings: content.split(','),
      typeSpeed: 80,
      loop: true,
      backDelay: 1100,
      backSpeed: 30
    });
  }
   </script>


   <script>

	 $("#sign,#forget").click(function(){
	 $("div.forget").toggleClass("slide-up")
	 $("div.sign").toggleClass("slide-up")
	 })	   
   </script>

<script>
$(document).mouseup(function (e)
{
    var container = $("#search-menu");

    if (!container.is(e.target) // if the target of the click isn't the container...
        && container.has(e.target).length === 0) // ... nor a descendant of the container
    {
        container.removeClass("active");
    }
});

$("#search-menu").click(function() {
  $( this ).addClass("active");
  document.getElementById("searchfield").focus();
});
</script>
<!-- <p>
	Trademark 2020
</p> -->

</body>
</html>