<%- include ("partials/header")%>


<!-- <h1 class="mt-4">
	LOGIN
</h1>

<form action="/login" method= "POST">
	<input type="text" name="username" placeholder="username">
	<input type="password" name="password" placeholder="password">
	<button>SUBMIT</button>
</form> -->


<div class="gateway d-flex justify-content-center align-items-center mt-5 pt-5 pb-5">
	<div class="form-structor">
	<div class="sign">
		<h2 class="form-title mr-3" id="sign"><span>or</span>Login</h2>
		<form action="/login" method= "POST">
		<div class="form-holder">
			<input type="text" class="input" name="username" placeholder="username">
			<input type="password" class="input" name="password" placeholder="password">
		</div>
			<button class="submit-btn">Log In</button>
		</form>
		
	</div>
	<div class="forget slide-up">
		<div class="center">
			<h2 class="form-title " id="forget">Forgot your Password?</h2>
			<form action="/forget" method= "POST">
			<div class="form-holder">
					<input type="text" class="input" name="email" placeholder="Enter Your Email">
			</div>
			<button class="submit-btn">Log in</button>
			</form>
		</div>
	</div>
</div>
</div>
<%- include ("partials/footer")%>	
