<%- include ("partials/header")%>



  <div class="wrapper">
    <h1>Our Team</h1>
    <div class="our_team mb-3">

      <div class="team_member">
        <div class="member_img">
          <img src="https://res.cloudinary.com/frappeco/image/upload/v1599560823/Team/ron_qnlita.png" alt="our_team">
          <div class="social_media">
            <div class="facebook item"> <a href="https://www.facebook.com/rohan.deka.3/"><i class="fab fa-facebook-f"></i></a> </div>
            <div class="instagram item"> <a href="https://www.instagram.com/ron_deka/?hl=en"><i class="fab fa-instagram"></i></a></div>
          </div>
        </div>
        <h3>Rohan Deka</h3>
        <span>Founder</span>
        <p>The foodie ranging over experiences with profound taste expressing as an authentic connoisseur.</p>
      </div>
      <div class="team_member">
        <div class="member_img">
          <img src="https://res.cloudinary.com/frappeco/image/upload/v1599560846/Team/ashima_gwznub.png" alt="our_team">
          <div class="social_media">
            <div class="facebook item"> <a href="https://www.facebook.com/amishaa.amrev"> <i class="fab fa-facebook-f"></i></a></div>
            <div class="instagram item"> <a href="https://www.instagram.com/dranzz_/?hl=en"><i class="fab fa-instagram"></i></a></div>
          </div>
        </div>
        <h3>Ashimaa Verma</h3>
        <span>Co-Founder</span>
        <p>An optimistic
          learner with
          dumb ideas and
          soothing taste
          believing in
          cravings and
          moods are not
          suppose to be
          assisted until
          your mind starts
          ruling them.</p>
      </div>
      <div class="team_member">
        <div class="member_img">
          <img src="https://res.cloudinary.com/frappeco/image/upload/v1599563499/Team/image_gb1m9o.png" alt="our_team">
          <div class="social_media">
            <div class="facebook item"> <a href="https://www.facebook.com/deepjyoti.deka.33633"><i class="fab fa-facebook-f"></i></a></div>
            <div class="instagram item"> <a href="https://www.instagram.com/node.deepjyoti/?hl=en"><i class="fab fa-instagram"></i></a></div>
          </div>
        </div>
        <h3>Deepjyoti Deka</h3>
        <span>Web Developer</span>
        <p>I’m an Engineering Student with Intermediate Full Stack Web Developer Skills.<p>
      </div>
      <div class="team_member">
        <div class="member_img">
          <img src="https://res.cloudinary.com/frappeco/image/upload/v1599560824/Team/anushmita_xojhiu.png" alt="our_team">
          <div class="social_media">
            <div class="facebook item"> <a href="https://www.facebook.com/anushmita.baruah.165"><i class="fab fa-facebook-f"></i></a></div>
            <div class="instagram item"> <a href="https://www.instagram.com/anushmitabaruah_10/?hl=en"><i class="fab fa-instagram"></i></a></div>
          </div>
        </div>
        <h3>Anushmita Baruah</h3>
        <span>Social Media & Public coordinator</span>
        <p>A brilliant foodie
with amazing
taste pursuing
undergraduation
in food tech.
Loves to explore
and grow.</p>
      </div>
      <div class="team_member">
        <div class="member_img">
          <img src="https://res.cloudinary.com/frappeco/image/upload/v1599560821/Team/arindita_nepqyu.png" alt="our_team">
          <div class="social_media">
            <div class="facebook item"> <a href="https://www.facebook.com/arindita.baruah"><i class="fab fa-facebook-f"></i></a></div>
            <div class="instagram item"> <a href="https://www.instagram.com/_a_r_i_n_d_i_t_a_/?hl=en"><i class="fab fa-instagram"></i></a></div>
          </div>
        </div>
        <h3>Arindita Baruah</h3>
        <span>Social Media & public coordinator</span>
      <p>Techno managerial student enthusiastic in learning new things and willing to work for a frim which would motivate me to enhance and imply my knowledge.</p>
      </div>
      <div class="team_member">
        <div class="member_img">
          <img src="https://res.cloudinary.com/frappeco/image/upload/v1599560823/Team/rimy_zyevcy.png" alt="our_team">
          <div class="social_media">
            <div class="instagram item"> <a href="https://www.instagram.com/_rimy/?hl=en"><i class="fab fa-instagram"></i></a></div>
          </div>
        </div>
        <h3>Rimzim Lahkar</h3>
        <span>Advisor</span>
        <p>Life is short, so I
eat food while I
live.</p>
      </div>
      <div class="team_member">
        <div class="member_img">
          <img src="https://res.cloudinary.com/frappeco/image/upload/v1599560830/Team/madhu_ls6jbs.png" alt="our_team">
          <div class="social_media">
            <div class="facebook item"> <a href="https://www.facebook.com/madhu.ray.180"><i class="fab fa-facebook-f"></i></a></div>
            <div class="instagram item"> <a href="https://www.instagram.com/madhu__here/?hl=en"><i class="fab fa-instagram"></i></a></div>
          </div>
        </div>
        <h3>Madhu Ray</h3>
        <span>Content Writer</span>
        <p>Aspiring student
pursuing under
graduation at
USTM,
ambitions are to
get in R and D
sector.</p>
      </div>
      <div class="team_member">
        <div class="member_img">
          <img src="https://res.cloudinary.com/frappeco/image/upload/v1599560828/Team/kanchan_lpfoif.png" alt="our_team">
          <div class="social_media">
            <div class="facebook item"> <a href="https://www.facebook.com/profile.php?id=100007327863169"><i class="fab fa-facebook-f"></i></a></div>
            <div class="instagram item"> <a href="https://www.instagram.com/nidhistar7/?hl=en"><i class="fab fa-instagram"></i></a></div>
          </div>
        </div>
        <h3>Kanchan Gupta</h3>
        <span>Content Writer</span>
      <p>A graduate of
B.sc Food
science and tech
and loves to
explore more on
the field.</p>
      </div>
      <div class="team_member">
        <div class="member_img">
          <img src="https://res.cloudinary.com/frappeco/image/upload/v1599560833/Team/akansha_xhfeld.png" alt="our_team">
          <div class="social_media">
            <div class="instagram item"> <a href="https://www.instagram.com/authentic.flavours_/?hl=en"><i class="fab fa-instagram"></i></a></div>
          </div>
        </div>
        <h3>Aakancha Jaiswal</h3>
        <span>Content Writer</span>
      <p>I am a student and a passionate cook,who loves experimenting in the Kitchen. Good food can make anybody happy. I feel glad when my family and friends enjoy the food made by me ,which also has lots of love in it.</p>
      </div>
      <div class="team_member">
        <div class="member_img">
          <img src="https://res.cloudinary.com/frappeco/image/upload/v1599560823/Team/himadri_fmdtpj.png" alt="our_team">
          <div class="social_media">
            <div class="instagram item"> <a href="https://www.instagram.com/__yumyumum__/?hl=en"><i class="fab fa-instagram"></i></a></div>
          </div>
        </div>
        <h3>Himadri Baruah</h3>
        <span>Content Writer</span>
        <p>Ambitious,
focused,
hardworking
and emotional
too but that doesn’t count in
weekness. Loves
to explore learn
and grow.</p>
      </div>
      <div class="team_member">
        <div class="member_img">
          <img src="https://res.cloudinary.com/frappeco/image/upload/v1599560832/Team/papiya_up8ch0.png" alt="our_team">
          <div class="social_media">
            <div class="facebook item"> <a href="https://www.facebook.com/papiya.sarkar.7509836"><i class="fab fa-facebook-f"></i></a></div>
            <div class="instagram item"> <a href="https://www.instagram.com/papiyasarkar334/?hl=en"><i class="fab fa-instagram"></i></a></div>
          </div>
        </div>
        <h3>Papiya Sarkar</h3>
        <span>Content Writer</span>
        <p>A hardworking
and passionate
being looking for
opportunities to
do better and
achieve
greatness.</p>
      </div>

    </div>
  </div>
<%- include ("partials/footer")%>
