/* body {
  margin: 0;
  padding: 0;
  background-color: #17a2b8;
  height: 100vh;
} */
#auth .container #auth-row #auth-column #auth-box {
  margin-bottom: 10%;
  max-width: 600px;
  height: 50%;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#auth .container #auth-row #auth-column #auth-box #auth-form {
  padding: 20px;
}
/* #auth .container #auth-row #auth-column #auth-box #auth-form #register-link {
  margin-top: -85px;
} */