<%- include ("../partials/header")%>


<div class="container">
	<div>
		<h1 class="mt-3"style="text-align:center;">
	Create A New Blog
</h1>
  <div class="pt-3">
	  <form action="/" method="POST">
		 <label>Title</label>
		  <div class="form-group m-auto pb-3">
	<input class="form-control"type="text" name="title" placeholder="Title">
		  </div>
		  	   <div class="form-group m-auto pb-4">
			<label>Thumbnail</label>
	<input class="form-control"type="text" name="image1" placeholder="First Image">
		  </div>
		  <!-- <div class="form-group">
	<input class="form-control"type="text" name="image2" placeholder="Second Image">
		  </div>   -->
		  <label>Page Content</label>
		    <div class="form-group row m-0 justify-content-center">
		<div class="col-md-8 pl-0 mb-3">
			<textarea name="description" id="summernote"></textarea>
					<div id="overlay">
	<div class="spinner">
		<span class="wheel"></span>
	</div>
</div>
		</div>
			<div class="mb-3 p-0 col-md-4">
			<aside class="sidebar sidebar-sticky" style="position:sticky; top:6em ">
			<div class="form-group">
            <label>Category</label>
            <select class="custom-select d-block w-100" name="category" required>
              <option value="">Choose...</option>
              <option value="travel">Travel</option>
			  <option value="eat">Eat</option>
			  <option value="drink">Drink</option>
            </select>
			</div>	
				<div class="form-group">
			<label>Approx Reading Time (Minutes) </label>
			<input class="form-control"type="number" name="Price" placeholder="Minutes" min="1" step="1">
		  		</div>
	
    
       <div class="wrappers form-group">
           <label>Tags Related To Your Post</label>
            <div class="tags">
                
                <div class="wrapper-tags focus">
                    <div class="view-tags">
                        <span class="tag" data-tag="fingourment">fingourment<i class="fa fa-close"></i></span>
                        <span class="tag" data-tag="frappeco">frappeco<i class="fa fa-close"></i></span>
                        <input type="text" class="input-tag">
						<input type="hidden" id="tagOutput" name="tagOutput" value="fingourment,frappeco">
                    </div>
                </div>
                
                <div class="show-error length">Please write tag bettwen 1 to 20 chracters.</div>
                <div class="show-error lengthTags">You can&#39;t add more than 10 tags.</div>
                <div class="show-error validChar">Please type &#91;A - z&#93; or &#91; أ - ي &#93; chracters.</div>
                <div class="show-error already">Sorry this tag in already exist.</div>
                <div class="show-error startChar">You must start tag with an alphabet.</div>
                <div class="show-count-all">
                    <div class="count-character-tag">
                        <span>5</span>
                        characters left.
                    </div>
                    <div class="count-tags">
                        <span>12</span>
                        tags left.
                    </div>
                </div>
                 <button class="btn btn-primary btn-lg btn-block add-tags">Submit</button>
            </div>
            
            <!-- <div class="show-all-tags">
                <div class="alert alert-danger text-center hide">Please write tag and press add tag.</div>
                <div class="show-tags hide">
                    <h3 class="title">This result can be stored in your database with ease</h3>
                    <div class="wrapper-view-tags">
                        <i class="fa fa-close hide-array"></i>
                        <div class="tags">
                            array &#91;
                            <div class="tag">
                                <span class="index">0</span>
                                <span class="value">javascript</span>
                            </div>
                            <div class="tag">
                                <span class="index">1</span>
                                <span class="value">html</span>
                            </div>
                            <div class="tag">
                                <span class="index">2</span>
                                <span class="value">css</span>
                            </div>
                            &#93;
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    
    <!-- /.container -->
         
				
				</aside>
		</div>
		</div>  
		
			  <!-- <div class="form-group mt-4">
	<button class="btn btn-lg btn-primary btn-block ">
		submit
	</button>
		  </div> -->
	</form>
	</div>
	</div>
	
<script defer src="js/editor.js" ></script>
<script defer src="js/tags.js"></script>

<!-- <script defer src="js/summernote-video-attributes.js" ></script> -->
</div>
<!--
<div class=" container mt-5 pt-4">
<form action="/" method="POST">
<input class="form-control"type="text" name="image1" placeholder="First Image">
<input class="form-control"type="text" name="image2" placeholder="Second Image">
<textarea name="description"id="summernote"></textarea>
<button>Submit
</button>
</form> 
</div> -->

<%- include ("../partials/footer")%>
