<%- include ("../partials/header")%>
<div class="container">
	<div>
		<h1 class="mt-5 pt-5"style="text-align:center;">
	Create A New Blog
</h1>
  <div class="pt-3">
	  <form action="/" method="POST">
		  <div class="form-group">
	<input class="form-control"type="text" name="title" placeholder="Title">
		  </div>
		  	   <div class="form-group">
	<input class="form-control"type="text" name="image1" placeholder="First Image">
		  </div>
		  <!-- <div class="form-group">
	<input class="form-control"type="text" name="image2" placeholder="Second Image">
		  </div>   -->
		    <div class="form-group row m-0">
		<div class="col-md-9 p-0 "style="border: 1px solid black">
			<textarea name="description" id="summernote"></textarea>
					<div id="overlay">
	<div class="spinner">
		<span class="wheel"></span>
	</div>
</div>
		</div>
		</div>  
			  <div class="form-group">
	<button class="btn btn-lg btn-primary btn-block ">
		submit
	</button>
		  </div>
	</form>
	</div>
	</div>
	
<script defer src="js/editor.js" ></script>
<!-- <script defer src="js/summernote-video-attributes.js" ></script> -->
</div>
<!--
<div class=" container mt-5 pt-4">
<form action="/" method="POST">
<input class="form-control"type="text" name="image1" placeholder="First Image">
<input class="form-control"type="text" name="image2" placeholder="Second Image">
<textarea name="description"id="summernote"></textarea>
<button>Submit
</button>
</form> 
</div> -->
<%- include ("../partials/footer")%>
