<%- include("../partials/header.ejs") %>
  <!-- Page Wrapper -->
  <div class="page-wrapper mt-3 ">
    <!-- Post Silder -->

    <!-- xxxxxPost Slider -->


    <div class="content clearfix">
      <!-- Main Content wrapper -->
      <div class="main-content-wrapper">
      <div class="main-content single">
        <h1 class="light-black post-title">This the title of the post.</h1>
        <div class="post-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat blanditiis accusantium, doloribus aliquid perspiciatis labore.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, reprehenderit!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum inventore molestiae ex voluptas odit in, consequatur unde ipsa delectus aperiam dolore dolorum, fuga voluptatum officiis aspernatur numquam tempore! Animi, doloremque.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste ut minus sunt doloribus veritatis. Aperiam fugit nesciunt quasi repellat recusandae.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat blanditiis accusantium, doloribus aliquid perspiciatis labore.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, reprehenderit!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum inventore molestiae ex voluptas odit in, consequatur unde ipsa delectus aperiam dolore dolorum, fuga voluptatum officiis aspernatur numquam tempore! Animi, doloremque.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste ut minus sunt doloribus veritatis. Aperiam fugit nesciunt quasi repellat recusandae.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat blanditiis accusantium, doloribus aliquid perspiciatis labore.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, reprehenderit!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum inventore molestiae ex voluptas odit in, consequatur unde ipsa delectus aperiam dolore dolorum, fuga voluptatum officiis aspernatur numquam tempore! Animi, doloremque.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste ut minus sunt doloribus veritatis. Aperiam fugit nesciunt quasi repellat recusandae.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat blanditiis accusantium, doloribus aliquid perspiciatis labore.</p>
        </div>
light-black
      </div>
      </div>
   <!-- Main content -->
      <!-- sidebar -->
      <div class="sidebar single">
        <div class="section popular">
          <h2 class="light-black">Popular</h2>

          <div class="post clearfix">
            <img src="https://images.unsplash.com/photo-1482049016688-2d3e1b311543?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
            <a href="" class="title"><h4 class="light-black">Food truck Business?</h4></a>
          </div>

          <div class="post clearfix">
            <img src="https://images.unsplash.com/photo-1512621776951-a57141f2eefd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="">
            <a href="" class="title"><h4 class="light-black">Easy recipies?</h4></a>
          </div>

          <div class="post clearfix">
            <img src="https://images.unsplash.com/photo-1432139555190-58524dae6a55?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80" alt="">
            <a href="" class="title"><h4 class="light-black">Pork!!</h4></a>
          </div>

          <div class="post clearfix">
            <img src="https://images.unsplash.com/photo-1499028344343-cd173ffc68a9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="">
            <a href="" class="title"><h4 class="light-black">How to make burger?</h4></a>
          </div>

          <div class="post clearfix">
            <img src="https://images.unsplash.com/photo-1478145046317-39f10e56b5e9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" alt="">
            <a href="" class="title"><h4 class="light-black">My breakfast....</h4></a>
          </div>

        </div>
         <div class="section topics">
          <h2 class="light-black">Category</h2>
          <ul>
            <li>
              <a href="#">Recipies</a>
            </li>
            <li>
              <a href="#">Food Blogs</a>
            </li>
            <li>
              <a href="#">Food Facts</a>
            </li>
            <li>
              <a href="#">Blogging Tips</a>
            </li>
            <li>
              <a href="#">Food Affairs</a>
            </li>
            <li>
              <a href="#">Food Stories</a>
            </li>
          </ul>
        </div>


      </div>
      <!-- content -->
    </div>

  </div>

<%- include("../partials/footer.ejs") %>

